{% extends "open_base_new.html" %}
{% block titleheader %}
  {{ lopsinfo }}
{% endblock %}
{% block headercontainer %}<img id=header_icon src="../static/icon_live.png"> {% endblock %}
{% block refresh %}{{ reload }}{% endblock %}
{% block titlemain %}
  <img id=menu_icon src="../static/icon_live.png"> {{ lopsinfo }}
{% endblock %}

{% block tips %}
  - <b>Google photos</b> - for å inkludere bilder som ligger i google photos. Importen inkluderer intelligent bildeanalyse og forsøker å koble informasjon om deltaker og race til bildet.<br>
  - <b>Video analytics</b> - deteksjon av passeringer i løypa/mål. Skjermbilde av passeringen lagres og det gjøres identifikasjon av løperne på bildet (basert på startnummer og passeringstid).
{% endblock %}

{% block content %}

  {% for oneevent in events %}
  <section class="row" aria-label="Event">
    <div class="col-sm-12">
      <h2>{{ oneevent.date_of_event }}: {{ oneevent.name }}, {{ oneevent.organiser }} <a target=_new href="{{ oneevent.webpage }}">(mer info)</a></h2>
    </div>
  </section>
  <section class="row" aria-label="Event functions">
    <div class="col-sm-3">
      <div class="status-card" role="status" aria-live="polite" align="center">
        <a href=photos?event_id={{ oneevent.id }}><img id=frontpage_icon title="Foto admin" src="../static/icon_photos.png"><br>Photos</a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="status-card" role="status" aria-live="polite" align="center">
        <a href=video_events?event_id={{ oneevent.id }}><img id=frontpage_icon title="Vision service - styre video deteksjon i løypa/ved målgang" src="../static/icon_timing.png"><br>Deteksjon målpassering</a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="status-card" role="status" aria-live="polite" align="center">
      <a href=config?event_id={{ oneevent.id }}><img id=frontpage_icon title="Vision service - konfigurasjon" src="../static/icon_settings.png"><br>Innstillinger</a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="status-card" role="status" aria-live="polite" align="center">
        {% if username != "Gjest" %}
          <br>
          <form action="/" method="post">
            <input type="submit" name=delete_event value="  Slett event " class="btn btn-warning">
            <input type="hidden" name=event_id value={{ oneevent.id }}>
          </form>
          <br>
        {% endif %}
      </div>
    </div>
  </section>
  {% endfor %}
  {% if username != "Gjest" %}
    <div id=spacer></div>
    <section class="row" aria-label="Event">
      <div class="col-sm-12">
        <h2>Importer events fra ekstern langrenn-sprint server</h2>
      </div>
    </section>
    <section class="row" aria-label="Event">
      <form action="/" method="post">
        <div class="col-sm-6">
          <div class="status-card" role="status" aria-live="polite">
            Url
            <input type="url" name="server_url" value="http://10.0.0.20:8080" size="50">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="status-card" role="status" aria-live="polite">
            <input type="submit" name=get_events value="  Hent  " class="btn btn-default">
          </div>
        </div>
      </form>
    </section>
  {% endif %}
{% endblock %}
