{% extends "open_base.html" %}
{% block titlecontainer %}
  <div class="w3-10"></div>
  <div class="w3-80">
{% endblock %}

{% block titleheader %}Foto push{% endblock %}

{% block headercontainer %}Foto push {{ valgt_klasse }} <img id=header_icon src="../static/icon_photos.png"> {% endblock %}

{% block refresh %}{% if action == "auto_sync" %}6{% endif %}{% endblock %}
{% block titlemain %}
  <img id=menu_icon src="../static/icon_photos.png"> Foto synkronisering
{% endblock %}
{% block menuitems %}
{% endblock %}

{% block content %}
<! --- Edit menu --->
  <script>
    function checkform(form) {
      try {
        form.sync_from_google.value = 'Nye bilder bearbeides, vennligst vent...';
        return true
      }
      catch(err) {
        return true
      }
    }
  </script>
  <table>
    <tr id=headerblue align=right>
      <td>
        <form action=/photo_push method=post onsubmit="return checkform(this);">
          <input type="hidden" name="event_id" value="{{ event_id }}">
          <input type="hidden" name="album_id" value="">
          <input type="hidden" name="album_title" value="{{ lopsinfo }}">
          {% if action == "auto_sync" %}
          <input type="submit" name="stop_sync_from_google" value="  Stopp synkronisering  ">
          {% else %}
          <input type="submit" name="sync_from_google" value="  Synkroniser bilder  ">
          {% endif %}
          <input type="checkbox" name="action" value="auto_sync" {% if action == "auto_sync" %}checked{% endif %}>
          <label for="action">  gjenta hvert minutt.</label>
        </form>
      </td>
  </table>
  <div id=spacer></div>
  <table>
    <tr>
      <td>
        <table>
          <tr>
            <td id=headerblue>
                <b>Mottatte bilder</b>
            </td>
            </tr>
            {% for one_photo in photos %}
            <tr>
                <td>
                    {{ one_photo }}<br>
                </td>
            </tr>
            {% endfor %}
        </table>
      </td>
      <td>
        <table>
            <tr>
              <td colspan=3 id=headerblue>
                <b>Opplasting</b>
              </td>
            </tr>
              <tr>
                <td colspan=2>
                  <form action=/photo_push method=post>
                    <input type="hidden" name="event_id" value="{{ event_id }}">
                    <input type="hidden" name="album_id" value="">
                    <input type="hidden" name="album_title" value="">
                    <input type="submit" name="photo_push" value="  Last opp nye bilder -> ">
                  </form>
                </td>
              </tr>
          </table>
        </td>
      </tr>
    </table>
{% endblock %}

