{% extends "open_base_new.html" %}
{% block titleheader %}{{ lopsinfo }}{% endblock %}

{% block headercontainer %}{{ lopsinfo }} <img id=header_icon src="../static/icon_photos.png"> {% endblock %}

{% block refresh %}{% endblock %}
{% block titlemain %}
  <img id=menu_icon src="../static/icon_photos.png"> {{ lopsinfo }}
{% endblock %}
{% block menuitems %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg funksjon</a>
    <div class=dropdown-content>
      <a href=photos?event_id={{ event_id }}>Vis alle</a>
      <a href=photos?event_id={{ event_id }}&action=delete_select>Sletting</a>
    </div>
  </li>
{% endblock %}
{% block tips %}
    Det er mulig å slette bilder - både enkeltvis og alle. Merk at det bare er link til bildene som slettes.
{% endblock %}

{% block content %}
<! --- Edit menu --->

    {% if action in ["delete_select"] %}
      <div id="spacer"></div>
      <section class="row" aria-label="Bilder">
        <div class="col-sm-12">
          <div class="status-card" role="status" aria-live="polite">
            <form action=/photos method=post>
                <button id="toggleAll" class="btn btn-default">Velg alle</button>
                  <button type="submit" name={{ action }} value="  Slett valgte " class="btn btn-warning">Slett valgte</button>
                  <input type="hidden" name="event_id" value="{{ event_id }}">
                  <input type="hidden" name=action value={{ action }}>
            <script>
              // Toggle all checkboxes
              const toggleBtn = document.getElementById('toggleAll');
              toggleBtn.addEventListener('click', () => {
                const itemsList = document.querySelectorAll('input.item-chk[type="checkbox"]');
                const anyUnchecked = Array.from(itemsList).some(cb => !cb.checked);
                itemsList.forEach(cb => cb.checked = anyUnchecked);
              });
            </script>
          </form>
          </div>
        </div>
      </section>
    {% endif %}
    <div id="spacer"></div>

    <section class="row" aria-label="Bilder">
      {% for foto in photos %}
        <div class="col-sm-6">
          <div class="status-card" role="status" aria-live="polite">
            {% if action in ["delete_select"] %}
                <input type="checkbox" class="item-chk" name="delete_photo_{{ loop.index }}" value="{{ foto.name }}">
            {% endif %}
            <!-- Trigger the Modal -->
            <img id="modalImg_{{loop.index}}" src="{{ foto.url }}" title="Click to view big size" style="height: 100px">
            <!-- The Modal -->
            <div id="myModal_{{loop.index}}" class="modal">
              <!-- The Close Button -->
              <span id="close_{{loop.index}}" class="close">&times;</span>
              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img_{{loop.index}}">
              <!-- Modal Caption (Image Text) -->
              <div id="caption_{{loop.index}}"></div>
            </div>
            <script>
              // Get the modal
              var modal_{{loop.index}} = document.getElementById("myModal_{{loop.index}}");
              
              // Get the image and insert it inside the modal - use its "alt" text as a caption
              var img_{{loop.index}} = document.getElementById("modalImg_{{loop.index}}");
              var modalImg_{{loop.index}} = document.getElementById("img_{{loop.index}}");
              var captionText_{{loop.index}} = document.getElementById("caption_{{loop.index}}");
              img_{{loop.index}}.onclick = function(){
                modal_{{loop.index}}.style.display = "block";
                modalImg_{{loop.index}}.src = this.src;
                captionText_{{loop.index}}.innerHTML = this.alt;
              }
              
              // Get the <span> element that closes the modal
              var span_{{loop.index}} = document.getElementById("close_{{loop.index}}");
              
              // When the user clicks on <span> (x), close the modal
              span_{{loop.index}}.onclick = function() { 
                modal_{{loop.index}}.style.display = "none";
              }
            </script>
            Metadata: {{ foto.metadata }}
          </div>
        </div>
        {% if loop.index is divisibleby 2 %}
          </section>
          <div id="spacer"></div>
          <section class="row" aria-label="Bilder">
        {% endif %}
      {% endfor %}
      {% if action in ["delete_select"] %}
        </form>
      {% endif %}
    </section>
{% endblock %}
