{% extends "open_base.html" %}
{% block titlecontainer %}
<div class="w3-10"></div>
<div class="w3-80">
{% endblock %}

{% block titleheader %}
  Video events {{ valgt_klasse }}
{% endblock %}

{% block headercontainer %}Video events {{ valgt_klasse }} <img id=header_icon src="../static/icon_photos.png"> {% endblock %}

{% block titlemain %}
  <img id=menu_icon src="../static/icon_photos.png"> Video events {{ valgt_klasse }}
{% endblock %}

{% block menuitems %}{% endblock %}

{% block content %}
  <script>
    /* this function will send results to backend without reloading the page */
    function pub_events(button) {
      document.getElementById(button.id).innerHTML = " Sender... ";
      document.getElementById(button.id).disabled = true;
      return true;
    }
    function get_events(button) {
      document.getElementById(button.id).innerHTML = " Mottar... ";
      document.getElementById(button.id).disabled = true;
      return true;
    }
  </script>

  <table>
    <tr>
      <form action=/video_events method=post>
        <td align=right>
          Send melding: <input type="text" name="pub_message" value="langrenn-message">
          <input type="hidden" name=event_id value="{{ event_id }}">
          <input type="submit" id="pub_button" onsubmit=pub_events(this); value="  Send  ">
        </td>
      </tr>
    </form>
    <form action=/video_events method=post>
      <tr>
        <td align=right>
          <input type="hidden" name=event_id value="{{ event_id }}">
          <input type="submit" name="pull_message" onsubmit=get_events(this); value="  Hent  ">
        </td>
      </form>
    </tr>
    <tr>
        <td align=right id="orange">
      <span id="info_result"></span>
    </td>
    </tr>
  </table>
{% endblock %}
</div>
