{% extends "open_base.html" %}
{% block titlecontainer %}
<div class="w3-80">
{% endblock %}

{% block titleheader %}
  Video events
{% endblock %}

{% block headercontainer %}Video events <img id=header_icon src="../static/icon_photos.png"> {% endblock %}

{% block titlemain %}
  <img id=menu_icon src="../static/icon_photos.png"> Video events
{% endblock %}
{% block menuitems %}{% endblock %}
{% block content %}

  <! --- Information --->
  <div id=spacer></div>
  <div id=info-header><a id=info-header data-toggle="collapse" href="#info-zone">TIPS</a></div>
  <div id=info-zone class="collapse">
    <b>Om tjenesten</b>
    <br> - Del 1: Video events tjenesten analyserer en videostrøm og identifiserer personer som krysser en (mål)linje.
    Det lages to bilder av passeringen, ett av bare selve personen (crop) og ett av hele skjermen. 
    <br> - Del 2 av tjenesten (Pubsub) vil sende informasjon til Google Cloud. Bildene sendes til en Storage Bucket,
    mens informasjon sendes til Pubsub og legges på en meldingskø der interessenter kan abonnere på hendelsene.
    <br><b>Configuration</b> - Mulighet for å skru av og på tjenestene (video analytics og pubsub) samt å stille inn video url og linje-koordinater.
    <br><b>Status</b> - Her vises statusmeldinger for tjenesten. Både det som registreres på videoen og at meldingenr sendes videre til meldingskøen i Google (pubsub).
    <br><b>Simulering</b> - (For testing) Her er det mulig å få systemet til å generere passeringer. Krever at url til resultatserver (eksempel http://ragdesprinten.norwayeast.azure.com:8080) gis som input.<br>
  </div>
  <div id=spacer></div>
  <! --- End Information --->

  <script>
    /* this function will sync (update+get) status updates with backend */
    let syncRunning = false;
    function sync_status() {
      if (syncRunning) return; // Exit if already running
      syncRunning = true;

      try {
        var formData = "video_status=true&event_id={{ event_id }}"
        var checkBoxPub = document.getElementById("integration_automatic");
        if (checkBoxPub.checked) {
          formData = formData + "&integration_start=true"
        }
        else {
          formData = formData + "&integration_stop=true"
        }
        var checkBoxAna = document.getElementById("video_analytics_automatic");
        if (checkBoxAna.checked) {
          formData = formData + "&video_analytics_start=true"
        }
        else {
          formData = formData + "&video_analytics_stop=true"
        }
        formData = formData + "&photo_queue=true"
        
        loadDoc("POST", "/video_events", mySync, formData);

        function mySync(xhttp) {
          try {
            // load new info
            const jsonDoc = JSON.parse(xhttp.response);
            const video_status = jsonDoc.video_status;
            document.getElementById("send_result").innerHTML = video_status;
            const photo_queue = jsonDoc.photo_queue;
            if (photo_queue != "") {
              document.getElementById("photo_queue_count").innerHTML = photo_queue.length;
              document.getElementById("photo_queue_latest").src = photo_queue[0];
            }
            else {
              document.getElementById("photo_queue_count").innerHTML = "0";
              document.getElementById("photo_queue_latest").src = "../static/no_image.png";
            }

            const trigger_line_url = jsonDoc.trigger_line_url;
            if (trigger_line_url != "") {
              document.getElementById("trigger_line_photo").src = trigger_line_url;
            }
            else {
              document.getElementById("trigger_line_photo").src = "../static/no_image.png";
            }
          }
          catch(err) {
              alert(err);
          }
        }
      }
      catch(err) {
          alert(err);
      } finally {
        syncRunning = false; // Ensure flag is cleared even on errors
        setTimeout(sync_status, 4000);
      }
    }

    /* this function will get status updates */
    function loadDoc(req, url, cFunction, formData) {
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function() {cFunction(this);}
      xhttp.open(req, url, true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(formData);
    }

    /* this function will show actual simulation_url */
    function update_simulation_url() {
                var sim_url = document.getElementById("sim_list").value;
                var sim_round = document.getElementById("sim_round").value;
                var actual_url = sim_url + "/csv?event_id={{ event_id }}&action=startlist&round=" + sim_round;
                document.getElementById("actual_url").innerHTML = actual_url;
                document.getElementById("sim_actual_url").value = actual_url;
              }

  </script>
  <table>
    <tr id="headerblack">
      <td><b>Configuration</b></td>
      <td>&nbsp;</td>
      <td><b>Service status</b></td>
    </tr>
    <tr>
      <td valign="top">
        <table> 
          <tr>
            <td colspan="2">
              <input type="checkbox" id="video_analytics_automatic" name="video_analytics_checkbox" 
                value="video_analytics_checkbox" {% if service_status.video_analytics_running %}checked{% endif %}>
              <b>Run video detection</b> (identify line crossings)
              {% if service_status.video_analytics_available == "False" %}
                <span id=info>Warning! Vision ai service is not detected. Analytics can not be run.</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="checkbox" id="integration_automatic" name="integration_checkbox" 
                value="integration_checkbox" {% if service_status.integration_start %}checked{% endif %}>
              <b>Run integration</b> (sync to Google cloud)
              {% if service_status.integration_available == "False" %}
                <span id=info>Warning! Integration service is not detected. Analytics can not be run.</span>
                {% else %}
                <span id=info>Mode: {{ service_status.integration_mode }}</span>
                {% endif %}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <b><br>Video settings</b>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <!-- Trigger the Modal -->
              <img id="trigger_line_photo" src="../static/no_image.png" title="Click to view big size" style="width:400px">
              <!-- The Modal -->
              <div id="myModal_line" class="modal">
                <!-- The Close Button -->
                <span id="close_line" class="close">&times;</span>
                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img_line">
                <!-- Modal Caption (Image Text) -->
                <div id="caption_line"></div>
              </div>
            </td>
          </tr>
          <form action=/video_events method=post>
          <tr>
            <td>Line</td>
            <td><input type="text" id="trigger_line_xyxyn" name="trigger_line_xyxyn" value="{{ trigger_line_xyxyn }}"> <small>(line coordinates, eks: 0.1:0.8:0.9:0.8)</small></td>
          </tr>
          <tr>
            <td>Url</td>
            <td><input type="text" id="video_url" name="video_url" value="{{ video_url }}"></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="submit" name="update_config" value="  Lagre  ">
              <input type="hidden" name=event_id value="{{ event_id }}">
            </td>
          </tr>
          </form>
          <tr>
            <td colspan="2">
              <br>Photos in queue for upload to Google: <b><span id=photo_queue_count>0</span></b>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <img id="photo_queue_latest" src="../static/no_image.png" title="Latest photo from vision AI detection" style="width:400px">
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <b><br>Simulation of crossings</b>
            </td>
          </tr>
          <form action=/video_events method=post>
          <tr>
            <td>URL</td>
            <td>
              <input type="text" name="sim_list" id="sim_list" value="http://localhost:8080" onchange=update_simulation_url()>
              Runde: <select name="sim_round" id="sim_round" onchange=update_simulation_url()>
                <option value="Q">Q</option>
                <option value="S">S</option>
                <option value="F">F</option>
              </select>
              <small><span id="actual_url"></span></small>
              <input type="hidden" name=sim_actual_url id=sim_actual_url value="">
              <script>update_simulation_url()</script>
            </td>
          </tr>
          <tr>
            <td>Fastest time</td>
            <td><input type="text" name="sim_fastest_time" value="{{ sim_fastest_time }}"></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="submit" name="update_config" value="  Start simulering  ">
              <input type="hidden" name=event_id value="{{ event_id }}">
            </td>
          </tr>
          </form>
        </table>
      </td>
      <td>&nbsp;</td>
      <td valign="top">
        <span id="send_result"></span>
      </td>
    </tr>
</table>
<script>
    // Initial call to start the cycle
    setTimeout(sync_status, 4000);
    // Get the modal
    var modal_line = document.getElementById("myModal_line");
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img_line = document.getElementById("trigger_line_photo");
    var trigger_line_photo = document.getElementById("img_line");
    var captionText_line = document.getElementById("caption_line");
    img_line.onclick = function() {
      modal_line.style.display = "block";
      trigger_line_photo.src = this.src;
      captionText_line.innerHTML = this.alt;
    }
    
    // Get the <span> element that closes the modal
    var span_line = document.getElementById("close_line");
    
    // When the user clicks on <span> (x), close the modal
    span_line.onclick = function() { 
      modal_line.style.display = "none";
    }
  </script>
{% endblock %}
</div>