{% extends "open_base.html" %}
{% block titlecontainer %}
<div class="w3-80">
{% endblock %}

{% block titleheader %}
  Video events
{% endblock %}

{% block headercontainer %}Video events <img id=header_icon src="../static/icon_photos.png"> {% endblock %}

{% block titlemain %}
  <img id=menu_icon src="../static/icon_photos.png"> Video events
{% endblock %}

{% block menuitems %}{% endblock %}

{% block content %}
  <script>

    /* this function will trigger automatic updates */
    function pub_events_reload() {
      try {
        var checkBox = document.getElementById("pub_events_automatic");
        if (checkBox.checked) {
          pub_events_new();
        }
      }
      catch(err) {
          alert(err);
        }
      }

    /* this function will send events to queue */
    function pub_events_new() {
      try {
        var button_text = document.getElementById("pub_events_button").innerHTML;
        document.getElementById("pub_events_button").innerHTML = " Sender... ";
        document.getElementById("pub_events_button").disabled = true;
        var max_lengt_info = 600;
        var old_info = document.getElementById("send_result").innerHTML;
        if (old_info.length > max_lengt_info) {
          old_info = old_info.substring(0, max_lengt_info);
        }

        // get current time, hours, minutes
        var d = new Date();
        var current_time = d.toLocaleTimeString();

        var action = "pub";
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/pub_events", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        var formData ="action=" + action + "&event_id={{ event_id }}"

        xhttp.send(formData);
        xhttp.onload = function() {
          try {
            // load new info
            const info = this.response;
            document.getElementById("send_result").innerHTML = current_time + " - " + info + "<br>" + old_info;
            document.getElementById("pub_events_button").innerHTML = button_text;
            document.getElementById("pub_events_button").disabled = false;
          }
          catch(err) {
            if (err.message.indexOf("401") > 0) {
              alert("Error 401 - Logg inn på nytt.");
            }
            else {
              document.getElementById("send_result").innerHTML = err;
              alert(err);
            }
            document.getElementById("pub_events_button").innerHTML = button_text;
            document.getElementById("pub_events_button").disabled = false;
          }
        }
      }
      catch(err) {
          alert(err);
          document.getElementById("pub_events_button").innerHTML = button_text;
          document.getElementById("pub_events_button").disabled = false;
        }
        return false; // avoid to execute the actual submit of the form.
      }
  </script>

  <table>
      <tr>
        <td align=center colspan="3">
          <button type="button" id="pub_events_button" onclick="pub_events_new();" > Send nye bilder fra video-analyse </button>
          <input type="checkbox" id="pub_events_automatic" name="pub_events_checkbox" value="pub_events_checkbox"> Send automatisk hvert 30. sekund
          <br>
        </td>
    </tr>
    <tr id="headerblack">
      <td>Status messages</td>
      <td>Photos ready for sending</td>
      <td>Line crossing configuration</td>
    </tr>
    <tr height="500">
      <td id="orange" valign="top">
        <span id="send_result"></span>
      </td>
      <td valign="top">
        <span id="photo_queue">
          {% for photo in photo_queue %}
            <img width=100 src="{{ photo }}" title="{{ photo }}">
            {% if loop.index % 3 == 0 %}<br>{% endif %}
          {% endfor %}
        </span>
      </td>
      <td id="orange" valign="top">
          <img width=600 src="{{ line_config_file }}">
      </td>
    </tr>

  
</table>
<script>
  // trigger every 30 seconds
  window.setInterval(pub_events_reload, 30000);
</script>
{% endblock %}
</div>